::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

.main-content {
    min-height: calc(100vh - 60px) !important;
    scroll-margin-top: 60px;
}

.btn-green {
    background: #2d9d78;
}
.btn-green:hover {
    background: #33b58a !important;
}

.active-tab-btn {
    background: #e9ecef;
    font-weight: 600;
    color: black;
}
.active-tab-btn:hover {
    background: #e9ecef !important;
    color: black !important;
}
.active-tab-btn:active {
    background: #e9ecef !important;
    color: black !important;
}
.inactive-tab-btn {
    background: transparent;
    font-weight: 600;
    box-shadow: none;
}
.inactive-tab-btn:hover {
    background: #495057 !important;
    box-shadow: none !important;
}
.inactive-tab-btn:active {
    background: #495057 !important;
    box-shadow: none !important;
}

.showmore-btn {
    background: transparent;
    border-color: #525866;
    color: #e9ecef;
}
.showmore-btn:hover {
    background: #2c3236;
    border-color: #525866 !important;
    color: #e9ecef !important;
}
.showmore-btn:active {
    background: #2c3236;
    border-color: #525866 !important;
    color: #e9ecef !important;
}

.menu-btn {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #e9ecef;
}
.menu-btn:hover {
    background: transparent !important;
    color: #e9ecef !important;
}
.menu-btn:active {
    background: transparent !important;
    color: #e9ecef !important;
}
.ant-drawer-content-wrapper {
    width: 500px !important;
}